body {
    margin: 0;
    padding: 0;
    background: #EAFFDA; /* definir cor mais tarde */
}

#cabecalho {
    position: fixed;
    background: #071013;
    color: #A49966;
    width: 100%;
    height: 40px;
}

.caixa-busca {
    position: absolute;
    width: 150px;
    height: 10px;
    left: 75%;
    top: 5%;
    background: white;
    height: 10px;
    border-radius: 20px;
    padding: 10px;
}

.btn-busca {
    float: right;
    border-radius: 50%;
    background: white;
    display: flex;
    margin: 5px;
}

#barra-nav {
    background-color: orangered;
    position: relative;
}

#menu{
    list-style: none;
    padding-right: 10%;
    margin: 0;
    float: right;
}

#menu li {
    display: inline;
    padding: 0;
    margin: 10px;
}
#menu li a {
    text-decoration: none;
    color: #071013;
    padding: 10px;
}
#menu li a:hover{
    color: white;
    background-color: #A49966;
}

